<section class="gifts" ng-controller="CardsCtrl" ng-class="{'show-hints': showHints}">
    <div class="branding slim">
        <a ui-sref="home">
            <img src="img/logo.png" width="30px"/>
            <h5 class="logo-tag">Christmas Key</h5>
        </a>
    </div>
    <swipe-cards height="400">
        <swipe-card on-card-swipe="cardSwiped(3)" id="start-card">
            <img src="img/logo.png" width="100px"/>
            <span ng-if="!showHints">You've opened {{ gift }}!</span>
            <span ng-if="showHints">Hints for {{ gift }}</span>
            <p class="gift-{{giftNumber}}">Swipe down for your clues based on this gift.</p>
        </swipe-card>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped(card.index)">
            <div ng-controller="CardCtrl">
                <div class="title" ng-bind-html="card.title"></div>
                <div class="image">
                    <img ng-src="{{card.image}}">
                </div>
            </div>
        </swipe-card>
    </swipe-cards>
</section>
<ion-footer-bar align-title="center" class="bar-light" ng-class="{'center': !nextGift}">
    <a class="buttons" ui-sref="solve">
        <button class="button" ng-class="{'button-balanced': !nextGift}">Solve</button>
    </a>
    &nbsp;
    <a class="buttons" ui-sref="gifts({id: nextGift})" ng-if="nextGift && !showHints">
        <button class="button button-balanced">Next Gift</button>
    </a>

    <a class="buttons" ui-sref="hints({id: nextGift})" ng-if="nextGift && showHints">
        <button class="button button-balanced">Next Hint</button>
    </a>
</ion-footer-bar>