<section class="gifts" ng-controller="CardsCtrl">
    <swipe-cards height="400">
        <swipe-card on-card-swipe="cardSwiped(3)" id="start-card">
            <img src="img/logo.png" width="100px"/>
            <span>You've opened {{ gift }}!</b></span>
            <p class="gift-{{giftNumber}}">Swipe down for your clues based on this gift.</p>
        </swipe-card>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped(card.index)">
            <div ng-controller="CardCtrl">
                <div class="title">
                    {{card.title}}
                </div>
                <div class="image">
                    <img ng-src="{{card.image}}">
                </div>
            </div>
        </swipe-card>
    </swipe-cards>
</section>
<ion-footer-bar align-title="center" class="bar-assertive">
    <a class="buttons" ui-sref="solve">
        <button class="button">Solve the puzzle</button>
    </a>
    &nbsp;
    <a class="buttons" ui-sref="gifts({id: nextGift})" ng-if="nextGift">
        <button class="button">Next Gift</button>
    </a>
</ion-footer-bar>