.home-bg {
    background-image: url('../img/christmas-tree-ornament-bokeh-1280x800-wide-wallpapers.net.jpg');
    background-position-x: -400px;
}

.where-bg {
    background: yellow;
}

.rules-bg {
    background: orange;
}

.hints-bg {
    background: darkred;
}

.gifts-bg {
    background: rgb(0, 0, 25);
    background-position: top right;
}

ion-nav-view,
.pane {
    background: none;
}

a {
    text-decoration: none;
}

.buttons.left {
    float: left;
}
.buttons.right {
    float: right;
}

.solve .key {
    border: 1px solid lightgrey;
}

.solve .key.has-error {
    border-color: red;
}

.solve .hints-button,
.solve .hinter {
    display: none;
}

.solve .hints-button.show,
.solve .hinter.show {
    display: block;
}

#map {
    width: 100%;
    height: 100%;
}

.where .scroll {
    height: 100%;
}


/* Animations */
.fade-in-out.ng-enter, .fade-in-out .ng-enter {
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
    position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
    -webkit-animation: fadeOut 0.3s;
    -moz-animation: fadeOut 0.3s;
    animation: fadeOut 0.3s;
    position: absolute; }

/* Swipe Cards */

.swipe-cards {
    position: fixed;
}

.swipe-card {
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 340px;
    margin-left: -150px;
    margin-top: -172px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.85);
    border-radius: 4px;
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
    height: 50px;
    padding: 5px;
    line-height: 20px;
    color: #444;
    font-size: 12px;
}
.swipe-card .image {
    overflow: hidden;
    max-height: 300px;
}
.swipe-card .button {
    border: none;
}
.swipe-card .image img {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.swipe-card .title b {
    font-weight: normal;
}

.show-hints .swipe-card .title b {
    font-weight: bold;
    background: palegoldenrod;
}

.show-hints .swipe-card .title b.red {
    font-weight: bold;
    background: purple;
    color: #ffffff;
}

#start-card {
    color: #fff;
    background-color: #30BD8A;
    line-height: 60px;
    word-wrap: break-word;
    border: 6px solid #4CD68E;
    padding-top: 40px;
    text-align: center;
}
#start-card span {
    display: inline-block;
    line-height: 26px;
    width: 200px;
    font-size: 22px;
    vertical-align: middle;
}

#start-card p{
    line-height: 15px;
    width: 200px;
    margin: 60px auto;
}

#start-card p.gift-4  {
    margin-top: 20px;
}

#start-card p.gift-5  {
    margin-top: 45px;
}

#footer .button {
    color: #fff;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0,0);
    }
    70% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

.swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
    -webkit-animation: bounceIn 0.4s ease-out;
}

@-webkit-keyframes shake {
    0% {-webkit-transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px) rotateY(-5deg)}
    37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
    62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
    87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
    100% {-webkit-transform: translateX(0)}
}

.shake {
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}