ion-nav-view,
.pane,
body {
    background: #dc595f;
}

a {
    text-decoration: none;
}

.buttons.left {
    float: left;
}
.buttons.right {
    float: right;
}

.solve .key {
    border: 1px solid lightgrey;
}

.solve .key.has-error {
    border-color: red;
}

.solve .hints-button,
.solve .hinter {
    display: none;
}

.solve .hints-button.show,
.solve .hinter.show {
    display: block;
}

#map {
    width: 100%;
    height: 100%;
}

.where .scroll {
    height: 100%;
}

/* VISUAL */

.branding {
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.1);
    padding: 40px 0 25px;
}

.contentarea {
    padding: 20px;
}

.branding img {
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    margin-bottom: 0;
}

.logo-tag {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: white;
    margin: 0;
    padding: 0;
}

.contentarea h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgb(255,255,255);
    font-size: 26px;
    margin: 0 0 15px;
    padding: 0;
}

.contentarea p {
    color: rgba(255,255,255,.65);
}

.contentarea .buttons {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: mediumspringgreen;
    border: none;
    border-radius: 5px;
    width: 80%;
    position: absolute;
    bottom: 40px;
    left: 10%;
    padding; 10px 0;
    height: 40px;
}

.contentarea .buttons a:visited,
.contentarea .buttons a:link,
.contentarea .buttons a {
    color: rgba(0,0,0,.3);
    text-decoration: none;
}

.contentarea .buttons a:active {
    color: white;
}

.contentarea ol {
    margin-bottom: 20px;
}

.contentarea ol li {
    counter-increment: step-counter;
    list-style-position: inside;
    color: rgba(255,255,255,.65);
    margin-bottom: 1px;
    height: 30px;
    font-size: 12px;
    margin-left: 40px;
    margin-top: 5px;
}

.contentarea ol li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: rgba(255,255,255,.5);
    font-size: 25px;
    background: rgba(0,0,0,.1);
    height: 30px;
    width: 30px;
    margin-left: -40px;
    margin-top: -5px;
    position: absolute;
    padding: 5px 0 0 8px;
}

/* Animations */
.fade-in-out.ng-enter, .fade-in-out .ng-enter {
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
    position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
    -webkit-animation: fadeOut 0.3s;
    -moz-animation: fadeOut 0.3s;
    animation: fadeOut 0.3s;
    position: absolute; }

/* Swipe Cards */

.swipe-cards {
    position: fixed;
}

.swipe-card {
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 50%;
    top: 50%;
    width: 300px;
    height: 340px;
    margin-left: -150px;
    margin-top: -172px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
    overflow: hidden;
    -webkit-animation-fill-mode: forwards;
}

.swipe-card .title {
    height: 50px;
    padding: 5px;
    line-height: 20px;
    color: #444;
    font-size: 12px;
}
.swipe-card .image {
    overflow: hidden;
    max-height: 300px;
}
.swipe-card .button {
    border: none;
}
.swipe-card .image img {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
}

.swipe-card .title b {
    font-weight: normal;
}

.show-hints .swipe-card .title b {
    font-weight: bold;
    background: palegoldenrod;
}

.show-hints .swipe-card .title b.red {
    font-weight: bold;
    background: purple;
    color: #ffffff;
}

#start-card {
    color: #fff;
    background-color: #30BD8A;
    line-height: 60px;
    word-wrap: break-word;
    border: 6px solid #4CD68E;
    padding-top: 40px;
    text-align: center;
}
#start-card span {
    display: inline-block;
    line-height: 26px;
    width: 200px;
    font-size: 22px;
    vertical-align: middle;
}

#start-card p{
    line-height: 15px;
    width: 200px;
    margin: 60px auto;
}

#start-card p.gift-4  {
    margin-top: 20px;
}

#start-card p.gift-5  {
    margin-top: 45px;
}

#footer .button {
    color: #fff;
}

@-webkit-keyframes bounceIn {
    0% {
        -webkit-transform: scale(0,0);
    }
    70% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

.swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
    -webkit-animation: bounceIn 0.4s ease-out;
}

@-webkit-keyframes shake {
    0% {-webkit-transform: translateX(0);}
    12.5% {-webkit-transform: translateX(-6px) rotateY(-5deg)}
    37.5% {-webkit-transform: translateX(5px) rotateY(4deg)}
    62.5% {-webkit-transform: translateX(-3px) rotateY(-2deg)}
    87.5% {-webkit-transform: translateX(2px) rotateY(1deg)}
    100% {-webkit-transform: translateX(0)}
}

.shake {
    -webkit-animation: shake 400ms ease-in-out;
    animation: shake 400ms ease-in-out;
}